@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
	private void Funcion()
	{
		Padre padre = new Padre();

		HijaA hijaA = new HijaA();

		padre.Id = 1;
		padre.Cadena = "ABC";

		hijaA.Id = 0;
		hijaA.Cadena = "Texto";
		hijaA.OtraCadena = "Otro Texto" 

	}
}